<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>図書検索システム - Book Search -</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		Book Search<a th:href="@{/}" id="logout">ログアウト</a>
	</header>
	


	<div style="width: 90%; margin: 10px auto 0 auto">
		<p>図書検索・一覧</p>
		
		<div style="text-align: right;">
			<a th:href="@{/publisherList/}"><button type="button">出版社管理</button></a>
		</div>
		
	<form id="input-form" th:action="@{/books/search}" method="post">
		<input type="button" value="条件クリア" onclick="clearForm()">
		<table>
			<tr>
				<th>
					<label for="title">タイトル:</label>
					<input type="text" id="title" name="title" th:value="${session.title}">
				</th>
				<th>
					<label for="author">著者名:</label>
					<input type="text" id="author" name="author" th:value="${session.author}">
				</th>
			</tr>
			<tr>
				<th>
					<label　for="publisher">出版社名:</label>
					<select id="publisher" name="publisherId">
						<option value="">--Select Publisher--</option>
						<option th:each="publisher : ${publishers}" th:value="${publisher.id}"
							th:text="${publisher.name}" th:selected="${publisher.id} == ${session.publisherId}">
						</option>
					</select>
					
				</th>
			</tr>
		</table>
		<table>
			<tr>
				<th>
					<div id="insert-button">
						<a th:href="@{/insertBook/}"><button type="button">新規登録</button></a>
					</div>
				</th>
				<th>
					<div id="search-button">
						<button type="submit">検索</button>
					</div>
				</th>
			</tr>
		</table>
	</form>

	
	<p style="text-align: right; margin: 10px auto 0 auto; 	width: 90%;" th:text="'総件数：' + ${#lists.size(bookList)}"></p>
	
	<table id="book-list">
		<tr>
			<th>No</th>
			<th>タイトル</th>
			<th>著者名</th>
			<th>出版社名</th>
			<th>出版年月日</th>
			<th>ISBN</th>
			<th>JANコード</th>
		</tr>
		<th:if="${bookList != null}">
			<tr th:each="book : ${bookList}">
				<td th:text="${book.id}"></td>
				<td><a th:href="@{/bookDetail/(id=${book.id})}" th:text="${book.title}"></a></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.name}"></td>
				<td th:text="${#dates.format(book.publishDate, 'yyyy/MM/dd')}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.janCode}"></td>
				<input type="hidden" name="publisher_id" th:value="${book.publisherId}">
			</tr>
		</th:if>
	</table>
	
	
	<script>
		// フォームのフィールドをクリアする関数
		function clearForm() {
		    // フォームの要素を取得
		    const form = document.getElementById("input-form");
		
		    // フォーム内のすべての入力要素をクリア
		    form.reset();
			
			// フォーム内フィールドを手動でクリア
			document.getElementById("title").value = "";
			// 必要に応じて他のフィールドもクリア
			document.getElementById("author").value = "";
		
		}
	</script>
		
</body>

</html>