<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>図書検索システム：図書詳細</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		Book Search<a th:href="@{/}" id="logout">ログアウト</a>
	</header>
	<p>図書詳細画面</p>
	<form action="../deleteBook/" method="post" id="detail-form">
		
		<input type="hidden" name="id" th:value="${book.id}">
		<table id="detail-form table">

			<tr>
				<th>ISBN：</th>
				<td><div th:text="${book.isbn}" /></td>
			</tr>
			</p>
			<tr>
				<th>JANコード：</th>
				<td><div th:text="${book.jan_code}" /></td>
			</tr>
			<tr>
				<th>タイトル：</th>
				<td><div th:text="${book.title}" /></td>
			</tr>
			<tr>
				<th>著者名：</th>
				<td><div th:text="${book.author}" /></td>
			</tr>
			<tr>
				<th>出版社名：</th>
				<td><div th:text="${book.name}" /></td>
			</tr>
			<tr>
				<th>出版年月日：</th>
				<td th:text="${#strings.replace(book.publish_date, '-', '/')}"></td>
			</tr>

			</p>

			<tr>
				<td>
					<a th:href="@{/deleteBook/}">
						<button type="submit" id="delete-button">削除</button>
					</a>
				</td>
				<td>
					<a th:href="@{/updateBook/?id={id}(id=${book.id})}" id="update-button">
						<button type="button">更新</button>
					</a>
					<a th:href="@{/bookList/}" id="back-button">
						<button	type="button">戻る</button>
					</a>
				</td>
			</tr>
		</table>
	</form>
</body>

</html>