<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>図書検索システム：図書登録</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />

</head>
<body>
	<!-- 登録確認ダイアログ -->
	<dialog id="confirm">
		<p>入力された情報で更新します。よろしいですか?</p>
		<div class="button_area">
		    <button type="button">OK</button>
			<a th:href="@{/insertBook/}"><button type="button">キャンセル</button></a>
		</div>
	</dialog>
	
	<!-- 登録完了ダイアログ -->
	<dialog id="finished">
		<p>図書情報の登録が完了しました。</p>
		<div class="button_area">
		    <a th:href="@{/bookList/}"><button type="button">OK</button></a>
		</div>
	</dialog>
	
	<!-- キャンセル確認ダイアログ -->
	<dialog id="canceled">
		<p>
			入力された内容をキャンセルし、図書検索・一覧画面に戻ります。<br>
			よろしいですか?
		</p>
		<div class="button_area">
		    <a th:href="@{/bookList/}"><button type="button">OK</button></a>
			<a th:href="@{/insertBook/}"><button type="button">キャンセル</button></a>
		</div>
	</dialog>
	
	
	<script>
		
		//登録確認ダイアログを表示
		function showConfirmDialog() {
		    const dialog = document.getElementById('confirm');
		    dialog.showModal();
		}
		
		//登録完了ダイアログを表示
		function showFinishedDialog() {
		    const dialog = document.getElementById('finished');
		    dialog.showModal();
		}
		
		//キャンセル確認ダイアログを表示
		function showCancelDialog() {
		    const dialog = document.getElementById('canceled');
		    dialog.showModal();
		}
		
	</script>
	
	<!-- 登録完了した場合のみダイアログ表示 -->
	<script th:if="${isSucceed}">
	    showFinishedDialog();
	</script>
	
	

    <header>
        Book Search<a th:href="@{/}" id="logout">ログアウト</a>
    </header>
    <p>図書登録</p>
    <ul th:each="errorMessage : ${errorList}" id="error-message">
        <li th:text="${errorMessage}"></li>
    </ul>
    <form th:action="@{/insertBook/}" method="post" id="insert-form" onsubmit="showConfirmDialog()">
        <table>
            <tr>
                <th>ISBN<span class="required">*</span></th>
                <td><input type="text" name="isbn" size="65" maxlength="13"></td>
            </tr>
            <tr>
                <th>JANコード<span class="required">*</span></th>
                
                <td><input type="text" name="jan_code" size="40"  maxlength="13"></td>
            </tr>
            <tr>
                <th>タイトル<span class="required">*</span></th>
                <td><input type="text" name="title" size="65" maxlength="65"></td>
            </tr>
            <tr>
                <th>著者名<span class="required">*</span></th>
                
                <td><input type="text" name="author" size="40"  maxlength="40"></td>
            </tr>
            <tr>
                <th>出版社名<span class="required">*</span></th>
				<td>
					<select id="publisher" name="publisher_id">
						<option value="">--Select Publisher--</option>
						<option th:each="publisher : ${publishers}" th:value="${publisher.id}"
							th:text="${publisher.name}" th:selected="${publisher.id} == ${session.publisherId}">
						</option>
					</select>
				</td>
            </tr>
            <tr>
                <th>出版年月日<span class="required">*</span></th>
                
                <td><input type="date" name="publish_date" size="40"  maxlength="40" ></td>
           
            <tr>
                <td colspan="2"><span class="required">*</span>必須入力項目</td>
            </tr>
            <tr>
                <td colspan="2" text-align="right">
                    <button type="submit" id="insert-button">登録</button>
					<button type="button" onclick="showCancelDialog()">キャンセル</button></a>
                </td>
            </tr>
			
        </table>
    </form>
	
</body>
</html>
