<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>図書検索システム：図書更新</title>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	
<!-- 開始: ダイアログ設定-->
	 
	<!-- 更新完了ダイアログ -->
	<dialog id="finished">
		<p>図書情報の更新が完了しました。</p>
		<div class="button_area">
		    <a th:href="@{/updateBook/(id=${book.id})}"><button type="button">OK</button></a>
		</div>
	</dialog>
	
	 	
	<!-- 更新確認ダイアログ -->
	<dialog id="confirm">
		<p>入力された情報で更新します。よろしいですか?</p>
		<div class="button_area">
		    <button type="button" id="confirm-ok">OK</button>
			<button type="button" id="confirm-cancel">キャンセル</button></a>
		</div>
	</dialog>
	
	
	<!-- キャンセル確認ダイアログ -->
	<dialog id="canceled">
		<p>
			入力された内容をキャンセルし、図書詳細画面に戻ります。<br>
			よろしいですか?
		</p>
		<div class="button_area">
		    <a th:href="@{/bookDetail/(id=${book.id})}"><button type="button">OK</button></a>
			<a th:href="@{/updateBook/(id=${book.id})}"><button type="button">キャンセル</button></a>
		</div>
	</dialog>

	

	
	<script>

		//更新完了ダイアログを表示
		function showFinishedDialog() {
		    const dialog = document.getElementById('finished');
		    dialog.showModal();
		}
		
		//更新確認ダイアログを表示
		function showConfirmDialog(event) {
			event.preventDefault();
			const dialog = document.getElementById('confirm');
			const okButton = document.getElementById('confirm-ok');
			const cancelButton = document.getElementById('confirm-cancel');
			
			//　OKがクリックされたとき
			okButton.onclick = () => {
				dialog.close();
				document.getElementById("update-form").submit(); //formを送信
				
			};
			
			// キャンセルがクリックされたとき
			cancelButton.onclick = () => {
				dialog.close();
			};
			
			// ダイアログを表示
		    dialog.showModal();
		}
		
		//キャンセル確認ダイアログを表示
		function showCancelDialog() {
		    const dialog = document.getElementById('canceled');
		    dialog.showModal();
		}
		
		
	</script>	
	
	<!-- 更新完了した場合のみダイアログ表示 -->
	<script th:if="${isSucceed}">
	    showFinishedDialog();
	</script>
<!-- 終了: ダイアログ設定-->
	
	
    <header>
        Book Search<a th:href="@{/}" id="logout">ログアウト</a>
    </header>
    <p>図書更新</p>
    <ul th:each="errorMessage : ${errorList}" id="error-message">
        <li th:text="${errorMessage}"></li>
    </ul>
    <form th:action="@{/updateBook/}" method="post" id="update-form">
		
		<input type="hidden" name="id" th:value="${book.id}">
				
        <table>
        
        	<tr>
                <th>ISBN<span class="required">*</span></th>
                <td><input type="text" name="isbn" th:value="${book.isbn}" size="65" maxlength="65"><label class="hint"> 半角数字</label></td>
            </tr>
			<tr>
				<th></th>
				<td><label class="hint">※ハイフン(-)は必要ありません。</label></td>
			</tr>
        	<tr>
                <th>JANコード</th>
                <td><input type="text" name="jan_code" th:value="${book.jan_code}" size="65" maxlength="65"><label class="hint"> 半角数字</label></td>
            </tr>
        
        
            <tr>
                <th>タイトル<span class="required">*</span></th>
                <td><input type="text" name="title" th:value="${book.title}" size="65" maxlength="65"></td>
            </tr>
            <tr>
                <th>著者名<span class="required">*</span></th>
                <td><input type="text" name="author" th:value="${book.author}" size="40" maxlength="40"></td>
            </tr>
            
            
            <tr>
                <th>出版社名<span class="required">*</span></th>
				<td>
					<select id="publisher" name="publisher_id">
						<option value="">--Select Publisher--</option>
						<option th:each="publisher : ${publishers}" th:value="${publisher.id}"
							th:text="${publisher.name}" th:selected="${book.id} == ${publisher.id}">
						</option>
					</select>
				</td>
            </tr>
            
            
            <tr>
               <th>出版年月日<span class="required">*</span></th>
                <td><input type="date" name="publish_date" th:value="${book.publish_date}" 　size="65" maxlength="65"></td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <span class="required">*</span>必須入力項目
                </td>
            </tr>
            <tr>
                <td colspan="2" text-align="right">
					<button type="submit" id="update-button">更新</button>
					<button type="button" onclick="showCancelDialog()">キャンセル</button></a>
				</td>
            </tr>
        </table>
    </form>
	
	
	<script>
		// フォームのonsubmitイベントに更新確認ダイアログの表示を設定
		document.getElementById('update-form').addEventListener('submit', showConfirmDialog);
	</script>
	
</body>

</html>


